@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&display=swap");

/* 顏色通用樣式 */
:root {
  --primary-100: #f5fee7;
  --primary-200: #e8fec5;
  --primary-400: #57a203;
  --neutral-0: #ffffff;
  --neutral-100: #f8f9fa;
  --neutral-300: #dee2e6;
  --neutral-400: #ced4da;
  --neutral-600: #6c757d;
  --neutral-900: #212529;
}

/* 標籤基本樣式、字體、字距、行高*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  display: block;
  color: var(--primary-400);
  text-underline-offset: 4px;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--neutral-900);
}

a {
  color: var(--neutral-900);
  text-decoration: none;
}

.h1 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

.h3 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}

.h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

.h5 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}
/* 文字RWD相關設定，md：767px*/
@media (max-width: 767px) {
  .h3-md {
    font-size: 28px;
  }
  .h4-md {
    font-size: 24px;
  }

  .h5-md {
    font-size: 20px;
  }

  .h6-md {
    font-size: 16px;
  }
}

/* 文字RWD相關設定，sm：576px */
@media (max-width: 576px) {
  .h3-sm {
    font-size: 28px;
  }

  .h4-sm {
    font-size: 24px;
  }

  .h5-sm {
    font-size: 20px;
  }

  .h6-sm {
    font-size: 16px;
  }
}

.text-sm {
  font-size: 14px;
  font-weight: 400;
}

.text-white {
  color: var(--neutral-0);
}

.text-primary-400 {
  color: var(--primary-400);
}

.text-neutral-600 {
  color: var(--neutral-600);
}
.bg-primary-100 {
  background-color: var(--primary-100);
}
.bg-primary-200 {
  background-color: var(--primary-200);
}
.bg-neutral-100 {
  background-color: var(--neutral-100);
}

/*間距樣式*/
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.p-32 {
  padding: 32px 0;
}

.py-64 {
  padding: 64px 0;
}

.pb-48 {
  padding-bottom: 48px;
}

.pr-8 {
  padding-right: 8px;
}

.p-12 {
  padding: 12px;
}

/* padding RWD 通用樣式 */
@media (max-width: 576px) {
  .px-sm-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .py-sm-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .py-sm-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

/* margin */
.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mr-40 {
  margin-right: 40px;
}
.mr-48 {
  margin-right: 48px;
}

/* margin RWD 通用樣式 */
@media (max-width: 576px) {
  .mr-sm-0 {
    margin-right: 0;
  }
  .mr-sm-16 {
    margin-right: 16px;
  }

  .mb-sm-4 {
    margin-bottom: 4px;
  }
  .mb-sm-8 {
    margin-bottom: 8px;
  }
}

/* flex相關 */
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
.section-container {
  max-width: 856px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
@media (max-width: 767px) {
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
}

@media (max-width: 576px) {
  .d-sm-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* page */
.header {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 152px 0;
  text-align: center;
}
.header-title {
  font-size: 28px;
}

/* 走出城市的節奏... */
.quote {
  border-radius: 12px;
  text-align: center;
}

.intro {
  width: 1076px;
  margin-left: calc(50% - 538px); /* 1076px / 2 */
}
.intro img {
  width: 100%;
}

.section-line {
  border-bottom: 1px solid var(--neutral-300);
}

/* 品牌歷程 */

.brand-history {
  border-left: 1px solid var(--neutral-600);
  padding-left: 8px;
}
.brand-history-list {
  list-style-type: disc;
  padding-left: 28px;
}

/* 品牌小故事 */
.bi {
  margin-right: 8px;
  vertical-align: bottom;
}

.footer {
  text-align: center;
}
